.card-comments img {
    width: 4rem;
}
/* Full Page Carousel itself*/
.carousel {
    height: 100%;
}

    .carousel .carousel-inner {
        height: 100%;
    }

        .carousel .carousel-inner .carousel-item,
        .carousel .carousel-inner .active {
            height: 100%;
        }

.view {
    height: calc(100vh - 150px);
}