<script src="~/Scripts/jquery-3.4.1.js"></script>
<div class="container">


    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <h3> Nosotros</h3>
                </div>
            </div>
            <div class="row mt-3 pl-5">
               
                <div class="col-md-12 text-justify">
                    <span>
                        Somos una empresa privada, dedicada a la venta y distribución de sistemas de tratamiento de agua para uso industrial, institucional y residencial de calidad y tecnología de punta.
                        Asimismo, contamos con un laboratorio para preparación de Soluciones Reactivas para análisis, así como para investigación y desarrollo de productos químicos, biodegradables y no tóxicos para tratamiento de aguas, limpieza, desinfección y mantenimiento de toda planta industrial.
                        Contamos con profesionales especializados y técnicos altamente capacitados para ejecución de servicios de mantenimiento y limpiezas químicas de equipos industriales.
                        La permanente comunicación que mantenemos con nuestros clientes, nos permite proporcionarles información técnica oportuna y asesoramiento constante.
                    </span>
                </div>
            </div>
            <div class="row mt-3  pl-5">
                <div class="col-md-12">
                    <h3 class="titulo-color font-weight-bold"> Misión</h3>
                </div>
                <div class="col-md-12 text-justify">
                    <span>
                        Ser empresa líder en el mercado, en la prestación de bienes en un entorno de crecimiento rentable y sostenido.
                        Ser socio tecnológico de nuestros clientes en, para encontrar soluciones en tratamiento de agua, saneamiento y mantenimiento industrial.
                        Ser una empresa en continuo crecimiento en el mercado, abarcando todo el Perú.

                    </span>
                </div>
            </div>
            <div class="row mt-3  pl-5">
                <div class="col-md-12">
                    <h3 class="titulo-color font-weight-bold"> Visión</h3>
                </div>
                <div class="col-md-12 text-justify">
                    <span>
                        Ser empresa líder en el mercado, en la prestación de bienes en un entorno de crecimiento rentable y sostenido.
                        Ser socio tecnológico de nuestros clientes en, para encontrar soluciones en tratamiento de agua, saneamiento y mantenimiento industrial.
                        Ser una empresa en continuo crecimiento en el mercado, abarcando todo el Perú.

                    </span>
                </div>
            </div>
            <div class="row mt-3  pl-5">
                <div class="col-md-12">
                    <h3 class="titulo-color font-weight-bold"> Valores</h3>
                </div>
                <div class="col-md-12">
                    <ul class="oceanwp-custom-links" style="display:inline-block;position:relative;font-size:13px;text-align:left;">
                        <li> <a target="_self"><span style="font-size:16px;">Eficacia</span> </a></li>
                        <li> <a target="_self"><span style="font-size:16px;">Calidad </span></a></li>
                        <li> <a target="_self"><span style="font-size:16px;">Innovación </span></a></li>
                        <li> <a target="_self"><span style="font-size:16px;">Honestidad </span></a></li>
                        <li> <a target="_self"><span style="font-size:16px;">Puntualidad </span></a></li>
                        <li> <a target="_self"><span style="font-size:16px;">Comunicación</span> </a></li>
                        <li> <a target="_self"><span style="font-size:16px;">Confianza </span></a></li>
                        <li> <a target="_self"><span style="font-size:16px;">Compromiso </span></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-3">
                <img class="mb-3 mx-auto z-depth-1" src="~/Imagenes/Nosotros/person-holding-laboratory-flask-2280571.jpg"
                     alt="Generic placeholder image" width="400">
            </div>
        </div>
        
    </div>
</div>
