<script src="~/Scripts/jquery-3.4.1.js"></script>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <span>Productos</span>
            <ul>
                <li><a target="_self"><span style="font-size:16px;">ATERIALES Y ACCESORIOS PARA TRATAMIENTO DE AGUA</span></a></li>
                <li><a target="_self"><span style="font-size:16px;">INSTRUMENTOS DE MEDICION Y REACTIVOS QUIMICOS</span></a></li>
                <li><a target="_self"><span style="font-size:16px;">PRODUCTOS QUIMICOS PARA EMBOTELLADORES</span></a></li>
                <li><a target="_self"><span style="font-size:16px;">PRODUCTOS QUIMICOS PARA PISCINAS Y ALBERCAS</span></a></li>
            </ul>
        </div>
        <div class="col-md-9">

        </div>
    </div>
</div>