<script src="~/Scripts/jquery-3.4.1.js"></script>
<style>
    .info-box {
        color: #444444;
        background: #fff;
        text-align: center;
        box-shadow: 0 0 30px rgb(214 215 216/60%);
        padding: 20px 0 30px 0;
    }
    .email-form {
        box-shadow: 0 0 30px rgb(214 215 216 / 60%);
        padding: 30px;
        background: #fff;
    }
    h3{
        font-weight:500;
    }
</style>
<div class="container mt-4">
    <div class="row">
        <div class="col-md-12">
            <h3 class="page-header-title size-text-title"> Contactanos</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="info-box mb-4">
                <i class="fa fa-location-arrow fa-2x btn-outline-primary" style="border: 0px !important;"></i>
                <h3>Dirección</h3>
                <p>CALLE JORGE CHAVEZ NRO.160 - COMAS</p>
            </div>
        </div>

        <div class="col-lg-3 col-md-6">
            <div class="info-box mb-4">
                <i class="fa fa-envelope fa-2x btn-outline-primary" style="border: 0px !important;"></i>
                <h3>Correo</h3>
                <p>proquim.eirl@gmail.com</p>
            </div>
        </div>

        <div class="col-lg-3 col-md-6">
            <div class="info-box  mb-4">
                <i class="fa fa-phone fa-2x btn-outline-primary" style="border: 0px !important;"></i>
                <h3>Celular</h3>
                <p>+51927369581</p>
            </div>
        </div>

    </div>
    <div class="row">

        <div class="col-lg-6 ">
            <iframe class="mb-4 mb-lg-0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3904.2220727659187!2d-77.02750354978386!3d-11.889619042192471!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105d096d3546073%3A0x1191d6b871cf6d01!2sJir%C3%B3n%20Jorge%20Ch%C3%A1vez%20160%2C%20Carabayllo%2015321!5e0!3m2!1ses!2spe!4v1642538148711!5m2!1ses!2spe" frameborder="0" style="border:0; width: 100%; height: 384px;" allowfullscreen=""></iframe>
        </div>
        
        <div class="col-lg-6">
            <div class="email-form">
                <div class="form-group mt-1">
                    <input type="text" class="form-control" name="name" id="name" placeholder="Nombre completo" required="">
                </div>
                <div class="form-group mt-3">
                    <input type="text" class="form-control" name="celular" id="celular" placeholder="Celular" required="">
                </div>
                <div class="form-group mt-3">
                    <input type="text" class="form-control" name="Correo" id="Correo" placeholder="Correo" required="">
                </div>
                <div class="form-group mt-3">
                    <textarea class="form-control" name="Mensaje" rows="4" placeholder="Mensaje" required=""></textarea>
                </div>
                <div class="text-center"><button type="submit" class="btn btn-primary">Enviar Mensaje</button></div>

            </div>
        </div>
    </div>





    
</div>
